@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4t7etg');
  src:  url('fonts/icomoon.eot?4t7etg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4t7etg') format('truetype'),
    url('fonts/icomoon.woff?4t7etg') format('woff'),
    url('fonts/icomoon.svg?4t7etg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-steam:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
  color: #f00;
}
.icon-tiktok:before {
  content: "\e902";
}
.icon-discord:before {
  content: "\e903";
  color: #7289da;
}
