* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: cursive;
}
nav {
	background: #0f0f0f;
	height: 80px;
	width: 100%;
}
label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	position: absolute;
    display: block;
    top: 12px;
    right: 1600px;
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover {
	background: #9e322b;
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #9e322b;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
	#check:checked ~ ul {
		left: 0;
	}
}
   iframe.video1 {
            position: absolute;
width: 560px;
height: 315px;
left: 300px;
top: 180px;
        }
        iframe.video2 {
position: absolute;
width: 560px;
height: 315px;
right: 350px;
top: 180px;  
        }
        iframe.video3 {
position: absolute;
width: 560px;
height: 315px;
right: 660px;
top: 520px;    
        }
        html {
            font-size: 16px
        }
.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-discord {
    background: #1f2021;
}
.icon-steam {
    background: #1f2021;
}
.icon-tiktok {
    background: #0a0a0a;
}
.icon-youtube {
    background: #1f2021;
}
.icon:first-child {
    border-radius: 1rem 0 0 0;
}
.icon:last-child {
    border-radius: 0 0 0 1rem;
}
.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42)
}
